.validation-error {
    display: flex;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: medium;
    color: #b91c1c;
    background: #fee2e2;
}

.flex-shrink-0 {
    flex-shrink: 0;
    display: inline;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
}

